pkgbase = nginx-rtmp
	pkgdesc = Lightweight HTTP server and IMAP/POP3 proxy server
	pkgver = 1.21.4
	pkgrel = 1
	url = https://nginx-rtmp.blogspot.com/
	install = nginx.install
	arch = x86_64
	license = custom
	checkdepends = perl
	checkdepends = perl-gd
	checkdepends = perl-io-socket-ssl
	checkdepends = perl-fcgi
	checkdepends = perl-cache-memcached
	checkdepends = memcached
	checkdepends = ffmpeg
	checkdepends = inetutils
	makedepends = mercurial
	depends = pcre
	depends = zlib
	depends = openssl
	depends = geoip
	depends = mailcap
	provides = nginx
	conflicts = nginx
	backup = etc/nginx/fastcgi.conf
	backup = etc/nginx/fastcgi_params
	backup = etc/nginx/koi-win
	backup = etc/nginx/koi-utf
	backup = etc/nginx/nginx.conf
	backup = etc/nginx/scgi_params
	backup = etc/nginx/uwsgi_params
	backup = etc/nginx/win-utf
	backup = etc/logrotate.d/nginx
	source = https://nginx.org/download/nginx-1.21.4.tar.gz
	source = https://nginx.org/download/nginx-1.21.4.tar.gz.asc
	source = hg+http://hg.nginx.org/nginx-tests#revision=b28f88e352dd
	source = https://github.com/arut/nginx-rtmp-module/archive/v1.2.2.tar.gz
	source = service
	source = logrotate
	validpgpkeys = B0F4253373F8F6F510D42178520A9993A1C052F8
	sha256sums = d1f72f474e71bcaaf465dcc7e6f7b6a4705e4b1ed95c581af31df697551f3bfe
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = 07f19b7bffec5e357bb8820c63e5281debd45f5a2e6d46b1636d9202c3e09d78
	sha256sums = 113bb2c530afd7f81ebccb42e6fa293fd87be2d87c99a32623097c6b97157297
	sha256sums = 06ebe161af3e761f2e2e35a67c6c0af27bf61aea7cd4ba8b28372ced5e3b3175

pkgname = nginx-rtmp

pkgname = nginx-rtmp-src
	pkgdesc = Source code of nginx 1.21.4, useful for building modules
	depends = 
